<div class="page-header">
  <h1>Account Detail</h1>
</div>
<div class="container">
  <div class="well">
    <dl class="dl-horizontal">
      <dt> Account Name </dt> <dd> {{account.accountname}} </dd>
      <dt> Account ID </dt> <dd> {{account.accountid}} </dd>
      <dt> Comment </dt> <dd> {{account.comment}} </dd>
      <dt> Create Date </dt> <dd>  {{account.createdate}} </dd>
    </dl>
  </div>
  <div class="well">
    <div ng-if="account.get_address == 'false'">
      <button type="button" class="btn btn-info pull-right" ng-click="add_address()">Add Address</button>
    </div>
    <div ng-if="account.get_address == 'true'">
      <div class="container">
        <div class="pull-right">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="get_balance()">Balance Info</button>
          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Address balance details</h4>
                </div>
                <div class="modal-body">
                  <div class="well">
                    <dl class="dl-horizontal">
                      <dt> Address </dt> <dd> {{address.address}} </dd>
                      <dt> Balance </dt> <dd> {{address.balance}} </dd>
                      <dt> Received </dt> <dd> {{address.received}} </dd>
                      <dt> Sent </dt> <dd>  {{address.sent}} </dd>
                    </dl>
                  </div>  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-info" ng-click="get_transaction()">Transaction Info</button>
          <button type="button" class="btn btn-danger" ng-click="del_address()">Del Address</button>
        </div>
      </div>
    </div>
    <dl class="dl-horizontal">
      <dt> Publice Key </dt> <dd> {{account.public_key}} </dd>
      <dt> Private Key </dt> <dd> {{account.asset_address}} </dd> 
      <!--dt> watch_only </dt> <dd> {{account.watch_only}} </dd-->
      <dt> Network </dt> <dd> {{account.network}} </dd>
      <dt> Cert Status </dt> <dd> {{account.certstatus}} </dd>
      <dt> Create Date </dt> <dd>  {{account.createdate_addr}} </dd>
    </dl>
  </div>
</div>