<div class="page-header">
  <h1>Account Detail</h1>
</div>
<div class="container">
  <div class="well">
    <dl class="dl-horizontal">
      <dt> Account Name </dt> <dd> {{account.accountname}} </dd>
      <dt> Account ID </dt> <dd> {{account.accountid}} </dd>
      <dt> Comment </dt> <dd> {{account.comment}} </dd>
      <dt> Create Date </dt> <dd>  {{account.createdate}} </dd>
    </dl>
  </div>
  <div class="well">
    <div ng-if="account.get_address == 'false'">
      <button type="button" class="btn btn-info pull-right" ng-click="add_address()">Add Address</button>
    </div>
    <div ng-if="account.get_address == 'true'">
      <button type="button" class="btn btn-info pull-right" ng-click="del_address()">Del Address</button>
    </div>
    <dl class="dl-horizontal">
      <dt> Publice Key </dt> <dd> {{account.public_key}} </dd>
      <dt> Private Key </dt> <dd> {{account.asset_address}} </dd> 
      <!--dt> watch_only </dt> <dd> {{account.watch_only}} </dd-->
      <dt> Network </dt> <dd> {{account.network}} </dd>
      <dt> Cert Status </dt> <dd> {{account.certstatus}} </dd>
      <dt> Create Date </dt> <dd>  {{account.createdate_addr}} </dd>
    </dl>
  </div>
</div>