<div class="page-header">
  <h1>Account Detail</h1>
</div>
<div class="container">
  <div class="well">
    <dl class="dl-horizontal">
      <dt> devicetype </dt> <dd> {{device.devicetype}} </dd>
      <dt> deviceid </dt> <dd> {{device.deviceid}} </dd>
      <dt> serverid </dt> <dd> {{device.serverid}} </dd>
      <dt> public_key </dt> <dd> {{device.public_key}} </dd>
      <dt> asset_address </dt> <dd> {{device.asset_address}} </dd> 
      <dt> watch_only </dt> <dd> {{device.watch_only}} </dd>
      <dt> network </dt> <dd> {{device.network}} </dd>
      <dt> certstatus </dt> <dd> {{device.certstatus}} </dd>
      <dt> createdate </dt> <dd>  {{device.createdate}} </dd>
    </dl>
  </div>
</div>