<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title> DeviceChain </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/eeb72cb88a.js"></script>
    <link rel="icon" href="/images/DeviceChain.png" type="image/png">
    <!--link rel='stylesheet' href='/app.css'-->
    <!--link href="/css/styles.css" rel="stylesheet" type="text/css"> </style-->

  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" ng-controller='ApplicationCtrl'>
    <div ng-switch="currentUser.usertype">
      <div ng-switch-when="admin">
        <header ng-include="'/templates/topmenunode.html'"></header>
      </div>
      <div ng-switch-when="device">
        <header ng-include="'/templates/topmenuclient.html'"></header>
      </div>
      <div ng-switch-default>
        <header ng-include="'/templates/topmenudefault.html'"></header>
      </div>
    </div>
    <div class='container' ng-view></div>
    <footer ng-include="'/templates/footer.html'"></footer>

    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular-route.js'></script>
    <script src='/app.js'></script>
  </body>
</html>
