<div class="page-header">
  <h1>My Device Detail</h1>
</div>
<div class="container">
  <div class="well">
    <!-- 버튼 누르면 현재 발행된 Device Account 중에서 골라 Public Key 등록 하는 기능 넣기  -->
    <div ng-switch="device.devicetype">
      <div ng-switch-when="undefined">
        <button type="button" class="btn btn-info pull-right" ng-click="add_mydevice()">Add My Device</button>
      </div>
      <div ng-switch-default class="pull-right">
        <button type="button" class="btn btn-info" ng-click="reg_mydevice(device)">Reg Authentication</button>
        <button type="button" class="btn btn-danger" ng-click="del_mydevice(device)">Del My Device</button>
      </div>
    </div>
    <dl class="dl-horizontal">
      <dt> Device Type </dt> <dd> {{device.devicetype}} </dd>
      <dt> Device ID </dt> <dd> {{device.deviceid}} </dd>
      <!--dt> serverid </dt> <dd> {{device.serverid}} </dd-->
      <dt> Public Key </dt> <dd> {{device.public_key}} </dd>
      <!--dt> asset_address </dt> <dd> {{device.asset_address}} </dd--> 
      <!--dt> watch_only </dt> <dd> {{device.watch_only}} </dd-->
      <dt> Network </dt> <dd> {{device.network}} </dd>
      <dt> Cert Status </dt> <dd> {{device.certstatus}} </dd>
      <dt> Create Date </dt> <dd>  {{device.createdate}} </dd>
    </dl>
  </div>
</div>