<h1>서버 정보</h1>
<div class="container">
  <button type="button" class="btn btn-default">서버 등록</button>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Server Name</th>
        <th>Option</th>
        <th>Server ID</th>
        <th>Created Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat="server in server_list">
      <tr class="success">
        <td>{{ server.servername }}</td>
        <td>{{ server.option }}</td>
        <td>{{ server.serverid }}</td>
        <td>{{ server.createdate }}</td>
        <td><button type="button" class="btn btn-default" ng-click="delete_server(server)"><i class="fa fa-trash-o"></i></button></td>
        <!--td><i class="fa fa-trash-o" ng-click="delete_server(server)" aria-label="Delete" role="button"></i></td-->
      </tr>
    </tbody>
  </table>
</div>