<div class="page-header">
  <h1>DeviceChain Nodes</h1>
</div>
<!--form role='form'>
  <div class='form-group'>
    <div class="input-group">
      <input ng-model="postBody" class='form-control'>
      <span class='input-group-btn'>
        <button ng-click='addPost()' class='btn btn-default'>Add Post</button>
      </span>
    </div>
  </div>
</form-->

<div class="container">
  <div class="well">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Host</th>
          <th>Port</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody ng-repeat="dc_node in dc_list">
        <tr class="success">
          <td>{{ dc_node.subver}}</td>
          <td>{{ strSplit(dc_node.addr)[0] }}</td>
          <td>{{ strSplit(dc_node.addr)[1] }}</td>
          <td><i class="fa fa-check-square-o"></i>{{ dc_node.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--button ng-click="getAuth()" class='btn btn-success'>GET DC KEY</button-->