<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><b> Device</b><i class="fa fa-chain"></i>Chain </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" ng-switch on="currentUser.usertype">
        <!-- Server Menu -->
        <li class="active" ng-switch-when="admin">
          <a class="dashboard" href="/#/dashboard"><i class="fa fa-institution"></i> Node Info</a>
        </li>
        <li class="dropdown" ng-switch-when="admin">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/#/server_info"> 서버 관리 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/#/server_reg">서버 등록</a></li>
            <li><a href="/#/server_info">서버 정보</a></li>
          </ul>
        </li>
        <!-- Device Menu -->
        <li class="dropdown" ng-switch-when="admin">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/#/device_info"> 장치 관리 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/#/device_reg">장치 등록</a></li>
            <li><a href="/#/device_info">장치 정보</a></li>
          </ul>
        </li>      
        <!-- Server Menu -->
        <li class="dropdown" ng-switch-when="admin">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/#/cert_info"> 인증 관리 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/#/cert_reg">장치 인증 정보 생성</a></li>
            <li><a href="/#/cert_info">장치 인증 정보</a></li>
          </ul>
        </li> 
        <li><a class="posts" ng-switch-when="admin" href="/#/user_info">사용자 정보</a></li>
        <!-- Client Menu -->
        <li><a class="posts" ng-switch-when="device" href="/#/cert_device">인증 등록 요청</a></li>
        <li><a class="block" ng-switch-when="device" href="/#/cert_test">인증 테스트</a></li>
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <p ng-if="currentUser" class="navbar-text"> Signed in as <b class="user">{{currentUser.userid}}</b> </p> 
      <!--li ng-hide="issignedin()"><a href="/#/signin"><i class="fa fa-sign-in"></i> Sign in</a></li>
      <li ng-show="issignedin()"><a href="/#/signin" ng-click="signout()"><i class="fa fa-sign-out"></i> Sign out</a></li> 
      <li ng-hide="issignedin()"><a href="/#/signup"><i class="fa fa-user-plus"></i> Sign up</a></li> 
      <li ng-show="issignedin()"><a href="/#/signup"><i class="fa fa-user-secret"></i> User</a></li--> 
      
      <li ng-if="currentUser == null"><a href="/#/signin"><i class="fa fa-sign-in"></i> Sign in</a></li>
      <li ng-if="currentUser"><a href="/#/signin" ng-click="signout()"><i class="fa fa-sign-out"></i> Sign out</a></li> 
      <li ng-if="currentUser == null"><a href="/#/signup"><i class="fa fa-user-plus"></i> Sign up</a></li> 
      <li ng-if="currentUser"><a href="/#/user_detail" ng-click="userdetail(currentUser)"><i class="fa fa-user-secret"></i> User</a></li>

      <!--a class="btn btn-info pull-left" href="/#/login"><i class="fa fa-sign-in"></i> Login</a-->
      <!--a class="btn btn-info pull-left" href="/#/register"><i class="fa fa-user-plus"></i> Register</a-->
    </ul>
  </div>
</nav>