<div class="page-header">
  <h1>User Detail</h1>
</div>
<div class="container">
  <div class="well">
    <dl class="dl-horizontal">
      <dt> User Name </dt> <dd> {{user.username}} </dd>
      <dt> User ID </dt> <dd> {{user.userid}} </dd>
      <dt> Password </dt> <dd> {{user.password}} </dd>
      <dt> User Type</dt> <dd> {{user.usertype}} </dd>
    </dl>
    <dt><button type="button" class="btn btn-default" ng-click="delete_user(user)"><i class="fa fa-trash-o"></i></button></dt>
  </div>
</di